/* body backgroud color */
.about_body{
  background-color: #707070;
  color: #ffffff;
}

.usOffice{
  background-image: url("../images/usOffice.jpg");
  height: 280px;
  background-repeat: no-repeat;
  background-position:center;
}

.caOffice{
  background-image: url("../images/caOffice.jpeg");
  height: 280px;
  background-repeat: no-repeat;
  background-position:center;
}

.ukOffice{
  background-image: url("../images/ukOffice.jpg");
  height: 280px;
  background-repeat: no-repeat;
  background-position:center;
}

/* section 2 we provide exceptional solution for you */
.solution{
  background-color: #70707052;
}

.colorFont{
  color: #eaa636;
}

.btn-warning{
  background-color: #eaa636;
  border-color: #eaa636;
}

.btn-warning:hover,.btn-primary:active,.btn-primary:focus{
  background-color: #fabf61;
  border-color: #fabf61;
}

.solution_img{
  background-image: url("../images/lawSolution.jpeg");
  background-position:center;
  height: 300px;
  background-repeat: none;
}

/* section 3 interested in discussing? */
.bi-facebook{
  color: #3b5998;
}

.bi-twitter{
  color: #00acee;
}

.bi-youtube{
  color: #ff0000;
}

.bi-linkedin{
  color:#0e76a8;
}

/* media screen */
@media screen and (min-width:425px) and (max-width:768px){
  .solution_text{
    font-size: 0.75rem;
  }

  .solution h3{
    font-size: 1.25rem;
  }
}

@media screen and (min-width:768px){
  .solution_text{
    font-size: .85rem;
  }

  .solution h3{
    font-size: 1.5rem;
  }

  .contact_info{
    font-size: 0.9rem;
  }
}

@media screen and (min-width:992px){
  .solution_text{
    font-size: 1rem;
  }

  .solution h3{
    font-size: 1.5rem;
  }
}

@media screen and (min-width:1400px) {
  .solution_img{
    background-size: 100%;
  }
}