@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


.attorney_body{
  background-color: #707070;
}

/* desktop cover */
.cover{
  background-image: url("../images/cover.jpg");
  background-position: center;
  height: 869px;
}

.cover_letter div:first-child{
  color: #ffffff;
  font-size: 35px;
  border-bottom: 3px solid #EAA636;
  font-weight: bold;
}

.cover_letter div:last-child{
  color: #ffffff;
  font-size: 25px;
}

/* mobile cover */

.cover_mobile_img{
  background-image: url("../images/cover_img_mobile.jpg");
  height: 576px;
  background-position: center;
}

.cover_mobile_team{
  color: #EAA636;
  font-size: 35px;
  font-weight: bold;
}

.cover_mobile_blocker{
  border: 1px solid #EAA636;
}

.cover_mobile_text{
  font-size: .75rem;
  color: #ffffff;
}

/* Lawyer section */
.lawyer_pic1,.lawyer_pic2,.lawyer_pic3{
  height: 330px;
  background-position: center;
}

.lawyer_pic1{
  background-image: url("../images/lawyer1_mobile.jpg");
}

.lawyer_pic2{
  background-image: url("../images/lawyer2_mobile.jpg");
}

.lawyer_pic3{
  background-image: url("../images/lawyer3_mobile.jpg");
}

.lawyer_title{
  color: #EAA636;
  font-size: 1.25rem;
}

.lawyer_name{
  color: #EAA636;
  font-size: 1rem;
}

.lawyer_desc{
  color: #ffffff;
  font-size: 0.8rem;
}

/* Social Media */
.bi-facebook{
  color:#4267B2;
}

.bi-twitter{
  color: #1DA1F2;
}

.bi-linkedin{
  color: #0077B5;
}

.bi-youtube{
  color: #FF0000;
}


h1{
  color: #ffffff;
}



@media screen and (min-width:576px){
  .social_media{
    font-size: 1rem;
    margin-top: 3rem;
  }

  .social_media i{
    padding: 0.25rem;
  }

  .cover_letter div:first-child{
    font-size: 1.2rem;
  }
  
  .cover_letter div:last-child{
    font-size: 0.8rem;
  }
}

@media screen and (min-width:768px){
  .lawyer_title{
    font-size: 1.5rem;
  }
  
  .lawyer_name{
    font-size: 1.25rem;
  }
  
  .lawyer_desc{
    font-size: 1rem;
  }

  .cover_letter div:first-child{
    font-size: 1.5rem;
  }
  
  .cover_letter div:last-child{
    font-size: 1rem;
  }
}


@media screen and (min-width:1400px){
  .lawyer_pic1{
    background-image: url("../images/lawyer1.jpg");
  }
  
  .lawyer_pic2{
    background-image: url("../images/lawyer2.jpg");
  }
  
  .lawyer_pic3{
    background-image: url("../images/lawyer3.jpg");
  }
}