main {
  background-color: #707070;
  color: white;
}

.title {
  font-style: italic;
  color: #EAA636;
}

.rightsection {
  background-color: #B9BBC0;
}

header {
  background-color: #7EA4C0;
}

.title {
  font-weight: bold;
}

.submit_button{
  background-color: #eaa636;
  border-color: #eaa636;
}

.submit_button:hover{
  background-color: #fabf61;
  border-color: #fabf61;
}

@media screen and (max-width:500px) {
  label{
    font-size: 0.5rem;
  }
}