@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');

nav, .Navbar_help{
  font-size: 1em;
  font-family: 'Abril Fatface', cursive;
  color: black;
  text-decoration:none;
  background-color: #EAA636;
}

.bottem, footer{
  background-color: #EAA636;
  color: black;
  font-family: 'Abril Fatface', cursive;
  text-decoration:none;
}

.linkbottem{
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: black;
}

.linkbottem:hover{
  color:#000000;
  text-decoration:none;
}

h5{
  font-family: 'Abril Fatface', cursive;
  padding-top: 0.5em;
}

p{
  font-family: 'Lato', sans-serif;
}

